.App {
  width: 100vw;
  height: 100vh;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: sticky;
  top: 20px;
  z-index: 1;
}

.logo {
  float: left;
  height: 80px;
  width: 80px;
  margin: -10px 24px 16px 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.navBar {
  margin-left: 120px;
}

.carouselContainer {
  position: relative;
  background-repeat: no-repeat;

  background-position: 0% 0%;
}

.cerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  justify-content: space-between;
  margin-bottom: 20%;
}

.introContainer {
  width: 45%;
  height: 55%;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  color: rgb(3, 80, 127);
  display: flex;
  position: absolute;
  right: 2%;
}

.sectionContainer {
  width: 90%;

  margin-top: 5vh;

  border-style: solid;
  border-color: rgb(144, 32, 126);
  border-width: 5px;
}

.profileContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  border-style: solid;
  border-color: rgb(132, 252, 140);
  border-width: 5px;
}

.profileContentContainer {
  width: 600px;
  /* flex: 1; */
  height: 30vh;
  overflow: scroll;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
}

.facContainer {
  width: 40%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  #contacts {
    font-size: 1.8rem;
    line-height: 0.6em;
  }
  .carouselContainer {
    height: 70vh;
    background-size: 100% 120%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #contacts {
    font-size: 0.7em;
    line-height: 0.6em;
  }

  .carouselContainer {
    height: 30vh;
    background-size: 100% 115%;
  }
}
